# YouTube Data API v3 key. Required for real LIVE badges.
# Create a project at https://console.cloud.google.com/apis/library/youtube.googleapis.com
# Do not use search.list as a poller. See README.
YOUTUBE_API_KEY=
